                     /*style.css*/
*{
    margin: 0;
    font-family:'Nunito', Sans-Serif;
}

header{
    height: 90px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color:#ef7da9;
}

.main{
    display: flex; 
}

.Search{
    padding-top:30px;
    padding-left:100px;
}

input{
height: 30px;
width: 400px;
border-radius: 20px;
border:transparent;
}

.SignIn{
    height: 50px;
    width: 100px;
    background-color:#ef7da9;  
    padding-top: 30px;
    padding-left: 500px;
}

.RnO, .Cart{
    height: 50px;
    width: 100px;
    background-color:#ef7da9;
    padding-top: 30px;
    padding-left: 60px; 
}

a{
    color:black;
    font-family:'Times New Roman', Times, serif;
    font-size:large ;
    text-decoration: underline black; 
    }    

.nav{
    height:40px;
    background-color:wheat ;
    padding-top:20px;
}

.nav-1{
    padding-left:200px;
    padding-right:100px;
    font-size: 20px;
}

.nav-2{
    padding-right:110px;
    padding-left: 110px;
    font-size: 20px;
}

.nav-3{
    padding-right:80px;
    padding-left:90px;
    font-size:20px ;
}

.New{
    padding-left:15px;
    padding-bottom: 30px;
    background-color:#d2d7cb;
    
}

.Newcont
{
    font-size: 30px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-left: 15px;
    padding-bottom: 15px;
    padding-top: 5px;
}

.NewcontM{
    display: flex;
    padding-left: 10px;
    justify-content: space-evenly;
}

.Newcont1{
        background-color: white;
        height: 250px;
        width: 300px;
        border-radius: 2%;
        padding-top: 10px;
        padding-bottom: 10px;
        text-align: center;
}

.More{
    text-decoration: none;
    color:blue;
    font-size: medium;
    padding-left: 95%;
    padding-top: 5px;
}

.footer{
    height:150px;
    background-color:#f8cf40;
    list-style: none;
    padding-left: 20px;
    padding-top: 30px;
    display: flex;
    justify-content: space-evenly;
} 

.heading
{
    font-size: medium;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom:5px ;
    padding-top: 5px;
}

.copy{
    font-size: small;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    height:30px;
    background-color:#f8cf40;
    text-align: center;
}

.signinform{
          height: 300px;
          width:430px;
          margin-top: 50px;
          margin-left: 550px;
          margin-bottom: 100px;  
          padding-left: 20px;
          padding-top: 10px;
}

.signcont
{
text-align: center;
padding-bottom: 4px;
font-family:Helvetica;
font-size: x-large;
}

.submit{
     margin-left: 150px;
     width: 150px;
     
}

input{ 
      width: 400px;
      border: solid black;
      padding-top: 5px;
      padding-left: 5px;
      margin-top: 8px;
      margin-left: 5px;
}

.link{
    color: blue;
    padding-top: 4px;
    text-decoration: none;
}

.Returns{
    padding-left: 400px;
    padding-right: 400px;
}

.Returns1{
    padding-left: 20px;
}

.cart{
    height: 400px;

}

.hcart{
    padding-top:15px; 
    padding-left: 10px;
    border-bottom: dotted;
}

.cart1{
    padding-top: 50px;
    padding-left: 400px;
    margin:150px;
    font-style: italic;
    display: flex;
}

.cartcont{
    padding: 25px;
}

.About{
    height: 400px;
}

.AboutM{
    margin: 0;
    text-align: center;
    font-size: xx-large;
    font-weight: bold;
    padding-top: 40px;
}

.Aboutcont{
    height: 190px;
    width:800px;
    text-align: center;
    margin:2px 350px;
    font-size: large;
}

.Contribute{
    height:500px;
    width: 1000px;
    padding-left: 40px;
    padding-top:5px;
}

.support{
    margin: 100px;
    font-size: x-large;
    padding-left: 80px;
    height: 250px;
    width: 800px;
}

button{
    height:30px;
    width: 100px;
    background-color: #ef7da9;
    margin: 10px;
    border: #ef7da9;
}